language: node_js
node_js:
- 6
branches:
  only:
  - master
notifications:
  email:
    on_success: never
    on_failure: change
    
cache:
  directories:
    - "$HOME/google-cloud-sdk/"
        
before_install:
- openssl aes-256-cbc -k "ahduQu9ushou0Roh" -in deploy-app-engine.json.enc -out deploy-app-engine.json -d
- gcloud auth activate-service-account --key-file deploy-app-engine.json
#- gcloud version || true
#- if [ ! -d "$HOME/google-cloud-sdk/bin" ]; then
#    rm -rf $HOME/google-cloud-sdk; 
#    export CLOUDSDK_CORE_DISABLE_PROMPTS=1; 
#    curl https://sdk.cloud.google.com | bash; 
#  fi
# Add gcloud to $PATH
#- source /home/travis/google-cloud-sdk/path.bash.inc;
#- gcloud version;

# Here we use the decrypted service account credentials to authenticate the command line tool

install:
- npm install
- npm update
before_script: 
script:
  - gulp webpack
  - gcloud app deploy --verbosity=info app.yaml
#- gcloud config set project `montecarlo-simluations`

# This runs pretest, test (aka jest). The jestconfig.json config must match the one in package.json 
#  - npm test
#  - ls $TRAVIS_BUILD_DIR

deploy:
#  provider: gae
#  Skip cleanup so api_key.py and vendored dependencies are still there
#  skip_cleanup: true
#  keyfile: deploy-app-engine.json
#  project: montecarlo-simluations
#  default: true
#  on: master

after_script:
