language: node_js
node_js: 
  - 6
branches: 
  only:
    - master    

notifications:
  email:
    on_success: never # default: change
    on_failure: always # default: always

before_install:
  
install:
  - npm install
  - npm update

before_script:

script:
  - gulp webpack
  - jest -c ./jestconfig.json

deploy:
#  - skip_cleanup: true
after_script:
