language: node_js
node_js:
- 6
branches:
  only:
  - master
notifications:
  email:
    on_success: never
    on_failure: always
    
cache:
  directories:
    - "$HOME/google-cloud-sdk/"
        
before_install:
- openssl aes-256-cbc -k "ahduQu9ushou0Roh" -in deploy-app-engine.json.enc -out deploy-app-engine.json -d
#- gcloud version || true
- if [ ! -d "$HOME/google-cloud-sdk/bin" ]; then 
 - rm -rf $HOME/google-cloud-sdk; 
 - export CLOUDSDK_CORE_DISABLE_PROMPTS=1; 
 - curl https://sdk.cloud.google.com | bash; 
- fi
# Add gcloud to $PATH
- source /home/travis/google-cloud-sdk/path.bash.inc;
- gcloud version;

install:
- npm install
- npm update
before_script: 
script:
  - gulp webpack
  
  # This runs pretest, test (aka jest). The jestconfig.json config must match the one in package.json 
  - npm test

deploy:
#  - skip_cleanup: true
#  - gcloud config set project `montecarlo-simluations`

after_script:
