html, body {
    font-family: 'Roboto';
    height: 100%;
    min-height: 100%;
}

h1 {
	color: rgb(0, 188, 212);
}

.floatLeft {
	float: left;
}
.headerButtons {
    margin: 0 .75em;
    text-align:center;
    width: 100%;
    padding: 10px;
}

.forecastButton {
    margin: 0 .75em;
    text-align:center;
    width: 100%;
    padding: 10px;
}

/* Pour mettre un d'air sur les côtés de la section principale */
.mainSection {
    padding: 1.5em 3em;
}

div p, 
#minValueTextField {
    margin-bottom: 0 !important;
}

div.spacer {
    margin-bottom: 0.5em;
}

.importFileButton {
    margin-right:12px;
}

.result {
	margin-bottom: .75em;
}
.result p {
	margin: 0;
}

span.percentileNumber {
	display: block;
	width: auto;
	padding: 0 0 0 0.5em;
    font-size:32px;
    font-weight: bolder;
    text-align: center;
}

span.items { 
	display: block; 
	padding: 0 0 0 1em;
    text-align: center;
}

span.resultConfidence {
    background: #fff none repeat scroll 0 0;
    color: #ccc;
    float: left;
    font-size: 14px;
    margin-left: 1em !important;
    padding: 0 0 0 1em;
}

.variableNumber {
    font:normal #00BCD4
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
