html, body {
    font-family: 'Roboto';
    height: 100%;
    min-height: 100%;
}

.headerButtons {
    margin: 0 .75em;
    text-align:center;
    width: 100%;
    padding: 10px;
}

.forecastButton {
    margin: 0 .75em;
    text-align:center;
    width: 100%;
    padding: 10px;
}

/* Pour mettre un d'air sur les côtés de la section principale */
.mainSection {
    padding: 1.5em 3em;
}

div p, 
#minValueTextField {
    margin-bottom: 0 !important;
}

div.spacer {
    margin-bottom: 0.5em;
}

div.result {
    color: #9E9E9E;
    border: 1px solid #757575;
    font-size:18px;
    padding-left:2px;
    }

p.result {
    margin:0
    }

p.resultConfidence {
    color: #9E9E9E;
    font-size:14px;
    margin:0;
    }

.percentileNumber {
    font:"normal bolder 20px";
}

.variableNumber {
    font:normal #00BCD4
}

.importFileButton {
    margin:12;
}
